body {
    background-color: grey;
}

canvas {
    border: 1px solid black;
}

.controls {
    background-color: wheat;
}

.rna {
    display: flex;
}

.rna > div {
    margin: 2px;
    padding: 10px;
}

.visibility {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.groups > input {
    margin: 2px;
    padding: 4px;
}
